ascii-train==0.0.6
astroid==4.0.4
attrs==26.1.0
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
dill==0.4.1
Flask==3.1.3
h11==0.16.0
idna==3.11
isort==8.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mccabe==0.7.0
numpy==2.4.4
outcome==1.3.0.post0
packaging==26.0
pillow==12.1.1
platformdirs==4.9.4
pyfiglet==1.0.4
pylint==4.0.5
PySocks==1.7.1
python-dotenv==1.2.2
requests==2.32.5
selenium==4.41.0
sniffio==1.3.1
sortedcontainers==2.4.0
termcolor==3.3.0
tomlkit==0.14.0
trio==0.33.0
trio-websocket==0.12.2
typing_extensions==4.15.0
urllib3==2.6.3
webdriver-manager==4.0.2
websocket-client==1.9.0
Werkzeug==3.1.7
wsproto==1.3.2
